<!DOCTYPE html>
<html lang="{{ meta.lang | default( app_lang ) }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- TITLE & DESCRIPTIONS -->
    <title>{% block title %}{{meta.title | default( app_name )}}{% endblock %}</title>
    <meta name="description" content="{{ meta.desc | default( app_desc ) }}">
    <meta name="author" content="{{ meta.author | default( app_author )}}"/>

    <!-- CANONICAL URL -->
    {% set canonical = meta.canonical | default( app.request.getSchemeAndHttpHost ~ app.request.baseUrl ~ app.request.pathInfo ) %}
    <link rel="canonical" href="{{canonical}}"/>

    {% if meta.noindex is defined and not null %}
        <meta name="robots" content="noindex,nofollow">
        <meta name="googlebot" content="noindex,nofollow">
    {% endif %}

    <!-- FAVICON -->
    <link rel="icon" href="{{ asset( 'img/favicon.png' ) }}" type="image/png">
    <link rel="apple-touch-icon" href="{{ asset( 'img/apple-icon.png' )}}" type="image/png">

    <!-- OPEN GRAPH CONTENT -->
    <meta property="og:type" content="{{ meta.og_type | default('website') }}">
    <meta property="og:url" content="{{ meta.og_url | default(canonical) }}">
    <meta property="og:image" content="{{ meta.og_image | default( app_og_img ) }}">
    <meta property="og:title" content="{{ meta.og_title | default( app_og_title ) }}">
    <meta property="og:desc" content="{{ meta.og_desc | default( app_og_desc ) }}">

    {#        <!-- PWA SETTINGS -->#}
    {#        <link rel="manifest" href="site.webmanifest">#}
    {#        <meta name="theme-color" content="#fafafa">#}

    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

</head>
<body>
{% block body %}{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
